* {
  font-size: 14px;
}

body {
  background-color: white;
}

input {
  outline: none;
  background-color: transparent;
  display: block;
}

input:focus {
  outline: none;
  border: 0;
}

label {
  font-size: 1rem;
  font-weight: 500;
}

.navigation {
  background-color: rgb(8, 8, 8);
  color: white;
}

.navigation img {
  width: 10rem;
}

.navigation div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.navigation h3 {
  font-size: 1rem;
}

.gradient {
  background: linear-gradient(to right, black, blue, white)
}

.form {
  height: auto;
  translate: 25%15%;
}