.createGroup {
    padding:3rem 5rem;
    align-items: center;
    translate:100% 50%;
    background-color: aliceblue;
    width: fit-content;
    box-shadow: 0 0 5px grey;
    border-radius: 1rem;
}

.createGroup form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
}

.createGroup input {
    border: 1.5px solid black;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 1rem;
}
.group-screen {
    grid-column: 2;
    background-color: white;
    width: 100%;
    overflow-y: auto;
    padding: 2rem 1rem 0rem 1rem;
    height: 70%;
}

.chatArea_header {
    background-color: transparent;
    position: relative;
    width: 100%;
    height: 15%;
    box-sizing: border-box;
}

.chatArea_header img {
    position: relative;
    left: 5rem;
    top: 0.5rem;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

.chatArea_header h1 {
    position: relative;
    left: 6rem;
    top: -4.5rem;
    text-align: center;
    background: linear-gradient(to bottom, #bef4fa, blue, #ffffff);
    background-clip: text;
    color: transparent;
    font-size: 2rem;
}


.chatArea_footer {
    background-color: rgb(223, 228, 236);
    border: 1.5px white solid;
    color: rgb(7, 7, 7);
    padding: 0rem 2rem;
    width: 50%;
    position: relative;
    border-radius: 1.5rem;
    position: absolute;
    bottom: 1rem;
}

.chatArea_footer input {
    color: black;
    position: relative;
    top: -0.3rem;
    padding: 1rem 2rem;
    width: 70%;
    display: inline-block;
    font-size: 1rem;
    border-radius: 1rem;
    background-color: transparent;
}

.chatArea_footer button {
    padding: 0.2rem;
    display: inline-block;
    background-color: transparent;
    position: relative;
    top: 0.5rem;
    right: -8rem;
    transition: scale 0.4s;
}

.chatArea_footer button:hover {
    cursor: pointer;
    scale: 1.1;
}

::-webkit-scrollbar {
    display: none;
}

.chatArea_body {
    overflow-y: scroll;
    padding: 1rem 0;
    height: 50vh;
}


.history {
    display: flex;
    background: transparent;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 1rem 2rem;
    font-size: 1.1rem;
}

.chat-receiver {
    float: left;
    color: rgb(19, 8, 8);
    width: 100%;
    padding: 1rem 2rem;
    align-items:start;
}

.chat-sender {
    position: relative;
    width: 100%;
    align-items: end;
}

.sender-message {
    position: relative;
    background-color: rgba(92, 111, 252, 0.868);
    color: white;
    max-width: 25rem;
    height: fit-content;
    overflow-x: hidden;
    padding: 1rem 2rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    word-wrap: break-word;
    word-break: break-all;
    flex-wrap: wrap;
}

.receiver-message {
    position: relative;
    background-color: rgba(207, 212, 252, 0.868);
    color: rgb(26, 25, 25);
    max-width: 25rem;
    height: fit-content;
    overflow-x: hidden;
    padding: 1rem 2rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    word-wrap: break-word;
    word-break: break-all;
    flex-wrap: wrap;
}