* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(195, 214, 248);
}

.chat-app {
  display: flex;
  background-color: rgb(1, 5, 22);
}

.dashboard {
  background-color: white;
  height: 100vh;
  padding: 0 3rem 0 0;
  margin: 2rem 3rem;
  border-radius: 2rem;
  align-self: center;
  width: 100%;
}

.dm-chat {
  display: flex;
  background-color: transparent;
  height: 100vh;
  width: 100%;
}

.users {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 40%;
  height: 100%;
  background-color: white;
}

.friends {
  margin: 1rem 1rem;
  padding: 0.5rem 2rem;
  width: 80%;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  color: black;
  grid-column: 1;
}

.friends img {
  position: relative;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: rgb(188, 187, 187);
}

.selected {
  background-color: rgb(216, 213, 213);
}

.friends h3 {
  color: rgb(17, 7, 7);
  margin: 0.5rem 2rem;
  position: relative;
}

a {
  display: block;
  color: blue;
  text-decoration: none;
  margin-left: 6rem;
  font-size: 1.2rem;
  font-weight: 500;
}


.file-input-container {
  background-color: #055984;
  border-radius: 20px;
  color: white;
  height: 30px;
  margin-bottom: 2rem;
  margin-left: 10%;
  outline: none;
  padding: 1.7rem 1.2rem;
  font-size: 1.2rem;
  text-align: center;
  width: 70%;
}




.groupArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
}


.groupArea_container {
  background-color: #00131d;
  height: 100vh;
  width: 100vw;
}

.groupArea_footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  background-color: #a5e0f8;
  margin: 2rem 10rem;
}

.groupArea_footer input {
  background-color: transparent;
  color: black;
  font-weight: 600;
  font-size: 1rem;
}

.groupArea_footer button {
  padding: 1rem 1rem;
  background-color: #053c57;
  border-radius: 1rem;
  color: white;
  width: 20%;
  font-size: 1rem;
  font-weight: 600;
}

.navigation {
  width: 10%;
  background-color: #01051f;
}

.navigating {
  color: white;
  font-size: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.navigating div {
  cursor: pointer;
  background-color: transparent;
  width: auto;
  margin: 1rem 0;
}

.navigating button {
  text-align: center;
  display: flex;
  padding: 1rem 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  background-color: rgb(221, 27, 27);
  color: wheat;
}

.wrong {
  position: relative;
  top: -1rem;
  color: red;
}